.sprite-pokemon { background: url('~@/assets/icons/gen-1.png') no-repeat top left; width: 64px; height: 32px;  } 
.sprite-pokemon.i-1 { background-position: 0 0; } 
.sprite-pokemon.i-2 { background-position: -64px 0; } 
.sprite-pokemon.i-3 { background-position: -128px 0; } 
.sprite-pokemon.i-4 { background-position: -192px 0; } 
.sprite-pokemon.i-5 { background-position: -256px 0; } 
.sprite-pokemon.i-6 { background-position: -320px 0; } 
.sprite-pokemon.i-7 { background-position: -384px 0; } 
.sprite-pokemon.i-8 { background-position: -448px 0; } 
.sprite-pokemon.i-9 { background-position: -512px 0; } 
.sprite-pokemon.i-10 { background-position: -576px 0; } 
.sprite-pokemon.i-11 { background-position: -640px 0; } 
.sprite-pokemon.i-12 { background-position: -704px 0; } 
.sprite-pokemon.i-13 { background-position: -768px 0; } 
.sprite-pokemon.i-14 { background-position: -832px 0; } 
.sprite-pokemon.i-15 { background-position: -896px 0; } 
.sprite-pokemon.i-16 { background-position: -960px 0; } 
.sprite-pokemon.i-17 { background-position: -1024px 0; } 
.sprite-pokemon.i-18 { background-position: -1088px 0; } 
.sprite-pokemon.i-19 { background-position: -1152px 0; } 
.sprite-pokemon.i-20 { background-position: -1216px 0; } 
.sprite-pokemon.i-21 { background-position: -1280px 0; } 
.sprite-pokemon.i-22 { background-position: -1344px 0; } 
.sprite-pokemon.i-23 { background-position: -1408px 0; } 
.sprite-pokemon.i-24 { background-position: -1472px 0; } 
.sprite-pokemon.i-25 { background-position: -1536px 0; } 
.sprite-pokemon.i-26 { background-position: -1600px 0; } 
.sprite-pokemon.i-27 { background-position: -1664px 0; } 
.sprite-pokemon.i-28 { background-position: -1728px 0; } 
.sprite-pokemon.i-29 { background-position: -1792px 0; } 
.sprite-pokemon.i-30 { background-position: -1856px 0; } 
.sprite-pokemon.i-31 { background-position: -1920px 0; } 
.sprite-pokemon.i-32 { background-position: -1984px 0; } 
.sprite-pokemon.i-33 { background-position: -2048px 0; } 
.sprite-pokemon.i-34 { background-position: -2112px 0; } 
.sprite-pokemon.i-35 { background-position: -2176px 0; } 
.sprite-pokemon.i-36 { background-position: -2240px 0; } 
.sprite-pokemon.i-37 { background-position: -2304px 0; } 
.sprite-pokemon.i-38 { background-position: -2368px 0; } 
.sprite-pokemon.i-39 { background-position: -2432px 0; } 
.sprite-pokemon.i-40 { background-position: -2496px 0; } 
.sprite-pokemon.i-41 { background-position: -2560px 0; } 
.sprite-pokemon.i-42 { background-position: -2624px 0; } 
.sprite-pokemon.i-43 { background-position: -2688px 0; } 
.sprite-pokemon.i-44 { background-position: -2752px 0; } 
.sprite-pokemon.i-45 { background-position: -2816px 0; } 
.sprite-pokemon.i-46 { background-position: -2880px 0; } 
.sprite-pokemon.i-47 { background-position: -2944px 0; } 
.sprite-pokemon.i-48 { background-position: -3008px 0; } 
.sprite-pokemon.i-49 { background-position: -3072px 0; } 
.sprite-pokemon.i-50 { background-position: -3136px 0; } 
.sprite-pokemon.i-51 { background-position: -3200px 0; } 
.sprite-pokemon.i-52 { background-position: -3264px 0; } 
.sprite-pokemon.i-53 { background-position: -3328px 0; } 
.sprite-pokemon.i-54 { background-position: -3392px 0; } 
.sprite-pokemon.i-55 { background-position: -3456px 0; } 
.sprite-pokemon.i-56 { background-position: -3520px 0; } 
.sprite-pokemon.i-57 { background-position: -3584px 0; } 
.sprite-pokemon.i-58 { background-position: -3648px 0; } 
.sprite-pokemon.i-59 { background-position: -3712px 0; } 
.sprite-pokemon.i-60 { background-position: -3776px 0; } 
.sprite-pokemon.i-61 { background-position: -3840px 0; } 
.sprite-pokemon.i-62 { background-position: -3904px 0; } 
.sprite-pokemon.i-63 { background-position: -3968px 0; } 
.sprite-pokemon.i-64 { background-position: -4032px 0; } 
.sprite-pokemon.i-65 { background-position: -4096px 0; } 
.sprite-pokemon.i-66 { background-position: -4160px 0; } 
.sprite-pokemon.i-67 { background-position: -4224px 0; } 
.sprite-pokemon.i-68 { background-position: -4288px 0; } 
.sprite-pokemon.i-69 { background-position: -4352px 0; } 
.sprite-pokemon.i-70 { background-position: -4416px 0; } 
.sprite-pokemon.i-71 { background-position: -4480px 0; } 
.sprite-pokemon.i-72 { background-position: -4544px 0; } 
.sprite-pokemon.i-73 { background-position: -4608px 0; } 
.sprite-pokemon.i-74 { background-position: -4672px 0; } 
.sprite-pokemon.i-75 { background-position: -4736px 0; } 
.sprite-pokemon.i-76 { background-position: -4800px 0; } 
.sprite-pokemon.i-77 { background-position: -4864px 0; } 
.sprite-pokemon.i-78 { background-position: -4928px 0; } 
.sprite-pokemon.i-79 { background-position: -4992px 0; } 
.sprite-pokemon.i-80 { background-position: -5056px 0; } 
.sprite-pokemon.i-81 { background-position: -5120px 0; } 
.sprite-pokemon.i-82 { background-position: -5184px 0; } 
.sprite-pokemon.i-83 { background-position: -5248px 0; } 
.sprite-pokemon.i-84 { background-position: -5312px 0; } 
.sprite-pokemon.i-85 { background-position: -5376px 0; } 
.sprite-pokemon.i-86 { background-position: -5440px 0; } 
.sprite-pokemon.i-87 { background-position: -5504px 0; } 
.sprite-pokemon.i-88 { background-position: -5568px 0; } 
.sprite-pokemon.i-89 { background-position: -5632px 0; } 
.sprite-pokemon.i-90 { background-position: -5696px 0; } 
.sprite-pokemon.i-91 { background-position: -5760px 0; } 
.sprite-pokemon.i-92 { background-position: -5824px 0; } 
.sprite-pokemon.i-93 { background-position: -5888px 0; } 
.sprite-pokemon.i-94 { background-position: -5952px 0; } 
.sprite-pokemon.i-95 { background-position: -6016px 0; } 
.sprite-pokemon.i-96 { background-position: -6080px 0; } 
.sprite-pokemon.i-97 { background-position: -6144px 0; } 
.sprite-pokemon.i-98 { background-position: -6208px 0; } 
.sprite-pokemon.i-99 { background-position: -6272px 0; } 
.sprite-pokemon.i-100 { background-position: -6336px 0; } 
.sprite-pokemon.i-101 { background-position: -6400px 0; } 
.sprite-pokemon.i-102 { background-position: -6464px 0; } 
.sprite-pokemon.i-103 { background-position: -6528px 0; } 
.sprite-pokemon.i-104 { background-position: -6592px 0; } 
.sprite-pokemon.i-105 { background-position: -6656px 0; } 
.sprite-pokemon.i-106 { background-position: -6720px 0; } 
.sprite-pokemon.i-107 { background-position: -6784px 0; } 
.sprite-pokemon.i-108 { background-position: -6848px 0; } 
.sprite-pokemon.i-109 { background-position: -6912px 0; } 
.sprite-pokemon.i-110 { background-position: -6976px 0; } 
.sprite-pokemon.i-111 { background-position: -7040px 0; } 
.sprite-pokemon.i-112 { background-position: -7104px 0; } 
.sprite-pokemon.i-113 { background-position: -7168px 0; } 
.sprite-pokemon.i-114 { background-position: -7232px 0; } 
.sprite-pokemon.i-115 { background-position: -7296px 0; } 
.sprite-pokemon.i-116 { background-position: -7360px 0; } 
.sprite-pokemon.i-117 { background-position: -7424px 0; } 
.sprite-pokemon.i-118 { background-position: -7488px 0; } 
.sprite-pokemon.i-119 { background-position: -7552px 0; } 
.sprite-pokemon.i-120 { background-position: -7616px 0; } 
.sprite-pokemon.i-121 { background-position: -7680px 0; } 
.sprite-pokemon.i-122 { background-position: -7744px 0; } 
.sprite-pokemon.i-123 { background-position: -7808px 0; } 
.sprite-pokemon.i-124 { background-position: -7872px 0; } 
.sprite-pokemon.i-125 { background-position: -7936px 0; } 
.sprite-pokemon.i-126 { background-position: -8000px 0; } 
.sprite-pokemon.i-127 { background-position: -8064px 0; } 
.sprite-pokemon.i-128 { background-position: -8128px 0; } 
.sprite-pokemon.i-129 { background-position: -8192px 0; } 
.sprite-pokemon.i-130 { background-position: -8256px 0; } 
.sprite-pokemon.i-131 { background-position: -8320px 0; } 
.sprite-pokemon.i-132 { background-position: -8384px 0; } 
.sprite-pokemon.i-133 { background-position: -8448px 0; } 
.sprite-pokemon.i-134 { background-position: -8512px 0; } 
.sprite-pokemon.i-135 { background-position: -8576px 0; } 
.sprite-pokemon.i-136 { background-position: -8640px 0; } 
.sprite-pokemon.i-137 { background-position: -8704px 0; } 
.sprite-pokemon.i-138 { background-position: -8768px 0; } 
.sprite-pokemon.i-139 { background-position: -8832px 0; } 
.sprite-pokemon.i-140 { background-position: -8896px 0; } 
.sprite-pokemon.i-141 { background-position: -8960px 0; } 
.sprite-pokemon.i-142 { background-position: -9024px 0; } 
.sprite-pokemon.i-143 { background-position: -9088px 0; } 
.sprite-pokemon.i-144 { background-position: -9152px 0; } 
.sprite-pokemon.i-145 { background-position: -9216px 0; } 
.sprite-pokemon.i-146 { background-position: -9280px 0; } 
.sprite-pokemon.i-147 { background-position: -9344px 0; } 
.sprite-pokemon.i-148 { background-position: -9408px 0; } 
.sprite-pokemon.i-149 { background-position: -9472px 0; } 
.sprite-pokemon.i-150 { background-position: -9536px 0; } 
.sprite-pokemon.i-151 { background-position: -9600px 0; } 